@font-face {
    font-family: 'garamond';
    src: url('EBGaramond-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'gill-sans';
    src: url('gill-sans.otf');
}

@font-face {
    font-family: 'gill-sans-medium';
    src: url('gill-sans-medium.otf');
}

.slideshow {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    transition: background-image 1s ease-in-out;
}

body {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.left {
    padding: 60px;
}

.logo {
    height: 75px;
    width: auto;
}

.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 60px;
    width: 240px;
    flex-grow: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
}

.closed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 60px;
    width: 240px;
    flex-grow: 0;
}

.menu-open {
    height: 24px;
    width: 27px; /* Set a fixed width */
    min-width: 27px; /* Prevent shrinking */
    max-width: 27px; /* Prevent growing */
    cursor: pointer;
    padding-top: 27px;
    padding-bottom: 87px;
}

.menu-open:hover {
    opacity: 0.6;
}

.menu-closed {
    height: 24px;
    width: 27px; /* Set a fixed width */
    min-width: 27px; /* Prevent shrinking */
    max-width: 27px; /* Prevent growing */
    cursor: pointer;
    padding-top: 27px;
    padding-bottom: 87px;
}

.menu-closed:hover {
    opacity: 0.6;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
}

.pages {
    text-decoration: none;
    color: #fff;
    font-family: 'gill-sans';
    font-size: 20pt;
    display: flex;
    align-items: flex start;
    justify-content: end;
    height: 60px;
}

a:hover {
    opacity: 0.6;
}

.title {
    color: #fff;
    font-family: 'gill-sans-medium';
    font-size: 26pt;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
}

h6 {
    font-family: 'garamond';
    font-size: 10pt;
    font-weight: 300;
    color: #fff;
    margin: 0;
    text-align: right;
    width: 100vw;
}

.open, .closed {
    transition: opacity 0.5s ease-in-out;
}